/* Course: SENG 513 */
/* Date: Nov 10, 2023 */
/* Assignment 3 */
/* Name: Eugene Lee */
/* UCID: 30137489 */

body {
    font-family: 'Gabarito', sans-serif;
    background-color: #feffdf;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Gabarito', sans-serif;
    background-color: #2E9CCA;
    color: #FFF;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    border: 2px solid black;
    transition: .3s;
}
button:hover, button:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(5px); 
}

.header {
    display: flex;
    justify-content: center;
}
.logo {
    font-size: 100px;
    font-weight: bold;
    padding-top: 2vw;
}
.pig {
    width: 90px;
    padding-top: 2vw;
    height: auto;
}
.pig.left {
    margin-right: auto;
    padding-left: 5vw;
}
.pig.right {
    margin-left: auto;
    padding-right: 5vw;
}

.tools {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.btn {
    font-size: 18px;
    margin: 15px;
    width: 12vw;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    overflow: auto;
}
.modal.open {
    display: block;
}
.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background: white;
    border-radius: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.closeBtn {
    width: 10vw;
    margin-top: 50px;
}
body.modalOpened {
    overflow: hidden;
}
.settingsContent {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.settingsB {
    margin-left: 20px;
}
.newNames1 {
    display: flex;
    gap: 5px;
}
.newNames2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalBody.rule {
    padding-left: 30px;
    padding-right: 30px;
}
.ruleBox {
    text-align: left;
    line-height: 2;
}
.bomb {
    color: #FF3131;
}

.content {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 50px;
}
.playerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0ab8d;
    width: 35vw;
    border-radius: 25px;
    border: 3px solid black;
    padding-bottom: 20px;
}
.count {
    font-size: 30px;
    padding: 1vw;
    margin-top: -55px;
    margin-bottom: 10px;
}
.playerName {
    text-align: center;
    font-size: 35px;
    margin: 0;
    margin-top: 20px;
    padding: 15px;
}
.gameTotal {
    text-align: center;
    font-size: 7vw;
    margin: 70px auto 20px;
}
.turnBox {
    background-color: #f6e4ad;
    border: 2px solid black;
    border-radius: 7px;
    width: 10vw;
    padding: 15px;
    margin-top: 60px;
}
.turnTitle {
    text-align: center;
    font-size: 25px;
}
.turnScore {
    text-align: center;
    font-size: 30px;
}

.progress { 
    background-color: antiquewhite; 
    width: 85%; 
    border-radius: 15px; 
    margin-top: 90px;
}
.bar { 
    background-color:limegreen; 
    color: white; 
    padding: 1%; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 15px; 
}
#leftBar { 
    width: 10%; 
}
#rightBar {
    width: 10%;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.diceFace {
    width: 10vw;
    display: none;
    transition: 0.5s ease-in-out;
}

.triangles {
    display: flex;
}
.tri {
    width: 5vw;
}


@media (max-width: 760px) {
    .btn {
        font-size: 12px;
    }
    .header {
        padding-top: 5vw;
    }
    .tools {
        margin-top: 5vw;
        margin-bottom: 7vw;
    }
    .tools .btn {
        width: 15vw;
        height: 50px;
    }
    .diceFace {
        width: 80px;
    }
    .closeBtn {
        width: auto;
    }
}

@media (max-width: 600px) {
    .btn {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .pig.left, .pig.right {
        display: none;
    }
    .content {
        gap: 2px;
    }
    .turnTitle {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .playerName {
        font-size: 7vw;
    }
    .header {
        padding-top: 50px;
    }
    .footer {
        font-size: 15px;
    }
    .settingsContent {
        align-items: center;
    }
    .settingsB {
        margin-top: 7px;
    }
}

@media (max-width: 417px) {
    .newNames1 {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .count {
        font-size: 23px;
        margin-top: -40px;
    }
    .gameTotal {
        font-size: 20px;
    }
}